<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col col-md-12"  id="chartdivpie"  [style.height.px]="500"></div>
    </div>
    
</div> 


<div class="container">
    <div class="row">

        <div class="col-md-4 col-sm-12">
            <button mat-button (click)="resetChart()">Reset</button>
            <div class="row">
                <div class="col-md-4 col-sm-6">Customer Reviews</div>
                <div class="col-md-8 col-sm-6">
                    <mat-button-toggle-group [value]="resetValue" class="toggle-flex-container"
                     (change)="ratingFilter($event.value)" name="ratings" aria-label="choose rating">
                        <mat-button-toggle value="5">4.1 to 5</mat-button-toggle>
                        <mat-button-toggle value="4">3.1 to 4</mat-button-toggle>
                        <mat-button-toggle value="3">2.1 to 3</mat-button-toggle>
                        <mat-button-toggle value="2">1.1 to 2</mat-button-toggle>
                        <mat-button-toggle value="1">0 to 1</mat-button-toggle>
                        <mat-button-toggle value="0">All</mat-button-toggle>
                      </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
    
            <table class="table">
                <thead>
                    <tr>
                        <th>rating</th>
                        <th>title</th>
                        <th>release date</th>
                        <th>tags</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of tableData">
                        <td>{{x.ratings}}</td>
                        <td>{{x.title}}</td>
                        <td>{{x.releaseDate | date}}</td>
                        <td>{{x.tags}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>



