<mat-card  class="login-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content> 
        <mat-tab-group>
            <mat-tab label="Login">
                <mat-card >
                    <mat-card-title>Login</mat-card-title>
                    <mat-card-content>
                      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
                        <form [formGroup]="form" 
                        (ngSubmit)="loginAuthentication(form.value.LuserName,form.value.Lpassword)" autocomplete="off">
                            <div>
                                <mat-form-field appearance="legacy">
                                    <mat-label>User Name:</mat-label>
                                    <input matInput  formControlName="LuserName" placeholder="Your userName">
                                    <mat-hint>Enter your username </mat-hint>
                                    <mat-error *ngIf="(form.get('LuserName')).errors?.required">UserName is required</mat-error>
                                    <mat-error *ngIf="(form.get('LuserName')).errors?.pattern">Please enter valid User Name</mat-error>
                                </mat-form-field>
                            </div>
                
                            <div>
                                <mat-form-field appearance="standard">
                                    <mat-label>Password </mat-label>
                                    <input matInput [type]="flag ? 'password' : 'text'" placeholder="Enter your password"
                                        formControlName="Lpassword">
                                    <mat-icon (click)="flag=!flag" matSuffix>{{ flag ? 'visibility' : 'visibility_off' }}</mat-icon>
                                    <mat-error>Password is required</mat-error>
                                    <mat-error *ngIf="(form.get('Lpassword')).errors?.pattern">
                                        Please enter more than 8 character
                                    </mat-error>
                                </mat-form-field>
                                <br>
                                <br>
                            </div>
                
                            <div>
                                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
                            </div>
                
                        </form>
                      
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Registration">
                    
              <app-register></app-register>

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>








