

    <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="search">
        <form style="background-color: white;" class="search-form search-full-width">
     
            <input type="text"
                   placeholder="search by movie title"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   class="form-control">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <button  mat-raised-button color="primary" (click)="searchByTitle()">
              <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
              Search</button>
      
         
        </form>
     
        </div>
        </div>
      
        </div>

  </div>  
  <br> 








<div class="container-fluid">
<div class="row">
  <div class="col-sm-3">
    <app-movie-filter  (filteredMovies)="getFilteredMovies($event)"></app-movie-filter>
  </div>
  <div class="col-sm-9">
    <div class="row"  >
      <div style="display: flex">
        <mat-form-field appearance="standard">
          <mat-label>Sort By</mat-label>
          <mat-select >
           
           <mat-select-trigger>
              <div *ngIf="titleCheck && !ratingsCheck && !releaseDateCheck">
                Title <mat-icon>arrow_upward</mat-icon>
              </div>
              <div *ngIf="!titleCheck && !ratingsCheck && !releaseDateCheck">
                 Title <mat-icon>arrow_downward</mat-icon>
              </div>
              <div *ngIf="ratingsCheck && !titleCheck && !releaseDateCheck">
                Ratings <mat-icon>arrow_upward</mat-icon>
                </div>
                <div *ngIf="!ratingsCheck && !titleCheck && !releaseDateCheck">
                 Ratings <mat-icon>arrow_downward</mat-icon>
                </div>
              <div *ngIf="releaseDateCheck && !titleCheck && !ratingsCheck">
                  Release Date <mat-icon>arrow_upward</mat-icon>
              </div>
                  <div *ngIf="!releaseDateCheck && !titleCheck && !ratingsCheck">
                    Release Date <mat-icon>arrow_downward</mat-icon>
                  </div>
            </mat-select-trigger> 
            <mat-option value="option" (click)="removeSorting()">Remove Sorting</mat-option>
             <mat-option value="option" (click)="sortByTitle()">
           <!--    <i class="material-icons arrow_upward" matSuffix>arrow_upward</i> -->
             <div *ngIf="titleCheck">
             Title <mat-icon>arrow_upward</mat-icon>
             </div>
             <div *ngIf="!titleCheck">
              Title <mat-icon>arrow_downward</mat-icon>
             </div> 
            </mat-option> 
            <mat-option value="option1" (click)="sortByRatings()">
              <div *ngIf="ratingsCheck">
              Ratings <mat-icon>arrow_upward</mat-icon>
              </div>
              <div *ngIf="!ratingsCheck">
               Ratings <mat-icon>arrow_downward</mat-icon>
              </div>
             </mat-option>
              <mat-option value="option2" (click)="sortByReleaseDate()">
              <div *ngIf="releaseDateCheck">
              Release Date <mat-icon>arrow_upward</mat-icon>
              </div>
              <div *ngIf="!releaseDateCheck">
                Release Date <mat-icon>arrow_downward</mat-icon>
              </div>
             </mat-option> 
          </mat-select>
        </mat-form-field>
   <!--      <mat-checkbox (change)="sortByTitle()"  [(ngModel)]="titleCheck">Title </mat-checkbox>
        <mat-checkbox (change)="sortByReleaseDate()" [(ngModel)]="releaseDateCheck">Release Date </mat-checkbox>
        <mat-checkbox (change)="sortByRatings()" [(ngModel)]="ratingsCheck">Ratings </mat-checkbox> -->
        <span style="flex: 1 1 auto;"></span>
        <mat-paginator  [pageSizeOptions]="[ 6, 10, 20,50]" showFirstLastButtons></mat-paginator>
      </div>
      <div class="col-sm-6" *ngFor="let movie of obs | async"> 
 <!--      <div class="col-sm-6" *ngFor="let movie of movies"> -->
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="createImgPath(movie.posterImgPath)"
              style="object-fit: cover;width: 100%;height: 90%;"
               class="img-fluid img-thumbnail rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" >{{movie.title | uppercase}}</h5>
                    <p class="card-text" style="font-size: small;">{{movie.description.substring(0,100) }} 
                      <a style="text-decoration: none;" matTooltip= {{movie.description}} >.....</a></p>
                    <p class="card-text"> Tags --   <strong>  {{movie.tags | uppercase}} </strong> </p>
                    <small class="text-muted">Rating  - {{movie.ratings}}</small>
                    <br>
                    <small class="text-muted">Release Date - {{movie.releaseDate | date}}</small>
                    <br>
                    <br>
                    <div *ngIf="role != 'Admin';else adminBlock">
                      <a (click) = "redirectToBookingPage(movie)" mat-button color="primary">More Info</a>
                      <a color="primary" mat-flat-button (click)="openTicketController(movie.id)" >Book Ticket Now</a>
                    </div>
                    <ng-template #adminBlock>
                      <a  mat-flat-button (click)="ToEditpage(movie)" color="primary"><mat-icon>edit</mat-icon>Edit</a>
                      <a  mat-flat-button (click)="ToDeletePage(movie)" color="warn"><mat-icon>delete</mat-icon>Delete</a>
                    </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> 
</div>


