
<div style="position:sticky;top: 50px;">
  <mat-card  style="text-align: left;" class="movie-filter-card">
    <mat-card-title >
      <h4>Movie Filter</h4>
    </mat-card-title>
  <mat-card-content >
    <form>
      <mat-form-field >
        <mat-label >Movie title</mat-label>
        <input style="text-align: center;" matInput  placeholder="All*" id="title"   name="title" [(ngModel)]="title" >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Tags</mat-label>
        <mat-select  [formControl]="tagsControl"  [disabled]="disableSelect.value" multiple>
          <mat-option #allSelected   (click)="toggleAllSelection()"  [value]="0">All</mat-option>
        <mat-option *ngFor="let tag of tagsList" [value]="tag" (click)="tosslePerOne(allSelected.viewValue)">{{tag}}</mat-option>
        </mat-select>
        </mat-form-field>
          <mat-label>Ratings</mat-label>
          &nbsp;&nbsp;&nbsp;
          <ngb-rating [max]="5"  [(rate)]="ratings" [readonly]="false"></ngb-rating>
  <!--         <mat-slider
        
        thumbLabel 
        [(ngModel)]="ratings"
        tickInterval="1"
        step="1"
        min="0"
        max="5"
        aria-label="units"></mat-slider> 
        {{ratings}} -->
        <br>

    </form>
  <!--     <tr>
  <td>
    <mat-form-field>
      <input  matInput  placeholder="Movie Rating/Default All" id="rating" 
   type="number"
   min="0" max="5"
      name="rating" [(ngModel)]="ratings">
    </mat-form-field>
  </td>
  </tr> -->
  
  
  <!--           <p>
        <mat-checkbox [formControl]="disableSelect">All Tags</mat-checkbox>
      </p> -->
  </mat-card-content>
      <mat-card-actions>
          <button mat-flat-button (click)="doFilter()"  color="primary">Filter</button>
      </mat-card-actions>
  </mat-card>
</div>

