<!-- <button mat-button color="primary" (click)="switchData()">{{toggleBtn?"Weekly":"Monthly"}}</button> -->
 <div class="row">
    <div class="col col-md-10 offset-md-1">
        <form>
            <mat-radio-group [formControl]="dataControl" color="primary" aria-label="Select an option">
                <mat-label>Select an option</mat-label>
                <mat-radio-button value="monthly">Monthly</mat-radio-button>
                <mat-radio-button value="weekly">Weekly</mat-radio-button>
              </mat-radio-group>
            <mat-form-field>
                <mat-label>Select the Movie</mat-label>
                <mat-select [formControl]="movieControl" multiple>
                    <mat-option *ngFor="let movie of movies" [value]="movie.title">{{movie.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="dataControl.value=== 'monthly'" >
                <mat-label>Select the Months</mat-label>
                <mat-select [formControl]="monthsControl" multiple>
                    <mat-option *ngFor="let mon of months" [value]="mon.abbreviation">{{mon.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="dataControl.value=== 'weekly'" >
                <mat-label>Select the Weeks</mat-label>
                <mat-select [formControl]="weeksControl" multiple>
                    <mat-option *ngFor="let week of weeks" [value]="week">{{week}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="submit" (click)="getChart()" mat-button>Submit</button>
        </form>
    </div>
</div> 

<!-- (selectionChange)="getChartForSelectedTheatre($event.value)"-->
 
 



<div id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div> 


